body{
  background-color: #0b0d10;
  min-height: 100vh;  
 font-family: sans-serif;
}

.app{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,h2{
 background: linear-gradient(to right bottom , rgb(255, 0, 157) ,rgb(155, 25, 155));
 color: transparent;
 -webkit-background-clip: text;
 font-size: 50px;
 text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

