.sidebar{
  width: 330px;
  height: 100vh;
  background-color: plum;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar.closed{
  width: 70px;

}
.sidebar-header{
  display: flex;
  align-items: center;
  background-color: rgb(33,33,65);
  justify-content: space-between;
  padding: 10px ;
}
.logout-icon{
   cursor: pointer;
   /* font-size: 2em important; */
}
.logo{
  text-align: center;
}
.logo h2{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: beige;
  margin: 0;
}
.nav-menu ul{
  list-style-type: none;
  padding: 0;
}
.nav-menu li{
   padding: 15px 20px;
}
.nav-menu ul li a{
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-menu ul li a:hover{
  background-color: blue;
}
