.flip-card-container {
  width: 300px;
  height: 300px;
  margin: 50px auto;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-front {
  background-color: blue;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 20px;
}

.flip-card-back {
  background-color: red;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 20px;
}

.flip-card-title {
  font-weight: bold;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
