.dropdown-container {
display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 150px; */
  /* background-color: #f9fafb; */
  text-align: center;
}
.dropdown-container h1{
  font-size: 50px;
}
.dropdown-wrapper {
  position: relative;
  margin-top: 1.5rem; /* mt-6 */
}

.dropdown-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.dropdown-icon {
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: transform 0.2s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  margin-top: 0.5rem; /* mt-2 */
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb; /* neutral border */
  /* background-color: #fff; */
background: linear-gradient(to bottom right, #ffeb3b, #f44336);


  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-options {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.dropdown-option {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 0.875rem; /* text-sm */
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f4f4f5; /* muted */
}
