.treeViewContainer{
  background-color: whitesmoke;
  min-height: 100vh;
  /* width: 350px; */
}
.menuListContainer{
  background: rgb(0, 71, 110);
}
.menuItem{
   display: flex;
   align-items: center;
   gap: 20px;
}