body{
  font-family: sans-serif;
}

:root{
  --default-color : #888;
  --active-color  : #f00; 
}

.likedBtn{
  border : 2px solid var(--default-color);
  display: flex;
  align-items: center;
  gap:8px;
  border-radius: 32px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 70px;
  height: 50px;
  margin-bottom: 5px;
  color: var(--default-color);
  background-color: white;
  font-size: 20px;
}
.likedBtn:hover{
  border-color: var(--active-color);
  color: var(--default-color);
}

.liked , .liked:hover{
   background-color: var(--active-color);
   border-color: var(--default-color);
   color: whitesmoke;
}
.loadBtn{
  display: flex;
  align-items: center;
  gap:8px;
  border-radius: 33px;
  padding: 10px 70px;
  font-size: 17px;
}