*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

.navBar{
   height: 13vh;
   width: 100%;
   box-shadow: 2px 0px 2px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo img{
  margin-left: 40px;
  height: 40px;
  width: 140px;
}

.nav {
 display: flex;
  list-style: none;
  gap: 50px;
}
.nav li{
  font-size: 23px;
  color: #545454;
  margin-top: 10px;
  cursor: pointer;

}

.searchInputs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.input1 , .input2{
 display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  height: 40px;
  padding: 30px 30px;
  border-radius: 15px;
  width: 80%;
}

.input1 input , 
.input2 input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px 10px ;
  font-size: 18px;
  background-color: transparent;
}
.input1 svg{
  height: 20px;
  width: 18px;
}
.input2 svg{
  height: 25px;
  width: 25px;
}
.cartSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

.cartCont svg{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.profileLogo svg{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.bookingSection{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 20px;
  padding: 10px 20px;
  scrollbar-width: none;
  margin-left:30px ;
}
.bookingSection img{
  height: 300px;
}

.newWorthy{
  margin-left: 30px ;
  margin-right: 4 0px;
}
.img-container{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 25px;
  padding: 10px 20px;
  scrollbar-width: none;

}
 .newWorthy h1{
  font-size: 50px;
  padding: 20px 20px;
 }
.img-container img{
  height: 300px;
  border-radius: 15px;
}
.card p{
  padding: 10px 20px;
  font-size: 21px;
  font-weight: bold;
}